@charset "UTF-8";

@media screen and (max-width: 1600px) {

    /*@@===== HEADER =====@@*/

    .header-container1 {
        padding-left: 5rem;
    }

    .ul-lista {
        padding-right: 5rem;
    }

    .header-linha {
        margin: 0px 5rem;
    }

    /*@@===== SESSÃO 1 =====@@*/

    .imagem {
        padding-left: 8rem;
    }

    .container2-s1 {
        padding-right: 10rem;
    }

    .titulo-h1 {
        font-size: 3.5rem;
    }

    .svg-ponto-titulo {
        bottom: 0.8rem;
        right: 8rem;
    }

    /*@@===== SESSÃO 2 =====@@*/

    .component1-s2 {
        padding: 10rem 0 0 5rem;
        width: 475px;
    }

    .paragrafo-s2 {
        letter-spacing: 1px;
        font-size: 1rem;
    }

    .container2-s2 {
        padding-right: 0rem;
        width: 600px;
        height: 39.5rem;
    }

    .titulo-h2-s2-s3 {
        font-size: 2rem;
        letter-spacing: 2px;
        text-align: center;
    }

    .component2-s2 {
        display: flex;
        justify-content: center;
    }

    .hidden1-s2 {
        margin-right: 1rem;
        justify-content: flex-end;
        height: 150px;
        width: 150px;
    }

    .hidden1-s2 h3 {
        font-size: 1rem;
        padding: 0rem 1rem 2rem;
        line-height: 1.2rem;
    }

    /*@@===== SESSÃO 3 =====@@*/

    .container1-s3 {
        padding-left: 5rem;
        width: 500px;
    }

    .container2-s3 {
        padding: 11rem 8rem 0 0;
    }

    .component2-s3 {
        padding: 1rem;
    }
    
    .svg-trabalho {
        margin-top: 0.4rem;
    }

    .titulo-trabalho {
        font-size: 1.8rem;
        letter-spacing: 1px;
    }

}

@media screen and (max-width: 1200px) {
    
    /*@@===== HEADER =====@@*/

    .header-container1 {
        padding-left: 2rem;
    }

    .ul-lista {
        padding-right: 2rem;
    }

    .header-linha {
        margin: 0px 2rem;
    }

    /*@@===== SESSÃO 1 =====@@*/

    .imagem {
        padding-left: 4rem;
        height: 400px
    }

    .container2-s1 {
        padding-right: 4rem;
    }

    .titulo-h1 {
        font-size: 3rem;
    }

    .svg-ponto-titulo {
        bottom: 0.6rem;
        right: 6.5rem;
    }

    .component2-s1 {
        width: 100%;
    }

    /*@@===== SESSÃO 2 =====@@*/

    .sessao-2 {
        padding: 6rem 0;
        flex-direction: column;
        align-items: center;
    }

    .container1-s2 {
        padding-bottom: 5rem;
    }

    .svg-decoracao {
        position: absolute;
        left: 0px;
    }

    .component1-s2 {
        padding: 6rem 1rem;
        width: 500px;
    }

    .paragrafo-s2 {
        font-size: 1.2rem;
    }

    .container2-s2 {
        width: 750px;
    }

    .component2-s2 {
        justify-content: space-evenly;
    }

    .hidden1-s2 {
        margin-right: 0rem;
        height: 170px;
        width: 170px;
    }

    .hidden1-s2 h3 {
        font-size: 1.2rem;
        padding: 0rem 1rem 2.5rem;
        line-height: 1.5rem;
    }

    /*@@===== SESSÃO 3 =====@@*/

    .container1-s3 {
        padding-left: 2rem;
        width: 375px;
    }

    .titulo-h3 {
        font-size: 1rem;
    }

    .elemento1-div1-s3 {
        padding-top: 10px;
    }

    .container2-s3 {
        padding: 11rem 4rem 0 0;
    }

    .component2-s3 {
        padding: 1rem;
    }
    
    .svg-trabalho {
        margin-top: 0rem;
    }

    .titulo-trabalho {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
 
}

@media screen and (max-width: 800px) { 

    /*@@===== HEADER =====@@*/

    .header {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-container1 {
        max-width: 300px;
        padding-left: 0rem;
    }

    .header-container2 {
        max-width: 300px;
    }

    .ul-lista {
        padding-right: 0rem;
    }

    .links {
        font-size: 18px;
        margin-right: 3rem;
    }

    .header-linha {
        margin: 0px 1rem;
    }

    /*@@===== SESSÃO 1 =====@@*/

    .sessao-1 {
        padding: 2rem 0 9rem;
        flex-direction: column;
        align-items: center;
    }

    .imagem {
        padding: 0 0 2rem 0;
        height: 300px;
    }

    .container2-s1 {
        padding-right: 0rem;
    }

    .titulo-h1 {
        font-size: 2rem;
    }

    .svg-ponto-titulo {
        bottom: 0.5rem;
        right: 4.8rem;
        height: 15px;
    }

    .paragrafo1-s1 {
        padding: 1rem 0 2rem 5px;
        font-size: 15px;
    }

    .component2-s1 {
        width: 100%;
    }

    .botao-linkedin {
        font-size: 16px;
        padding: 5px 10px;
        border-bottom: 3px solid #141414d5;
    }

    .botao-linkedin svg {
        padding-top: 5px;
    }

    .hidden1-s1 {
        padding-top: 1.5rem;
    }

    .paragrafo2-s1 {
        font-size: 1rem;
    }

    /*@@===== SESSÃO 2 =====@@*/

    .sessao-2 {
        padding: 2rem 0;
        flex-direction: column;
        align-items: center;
    }

    .container1-s2 {
        max-width: 100%;
    }

    .component1-s2 {
        padding: 4rem 0.5rem;
        max-width: 300px;
    }

    .paragrafo-s2 {
        font-size: 1rem;
    }

    .container2-s2 {
        max-width: 300px;
        height: 72rem;
    }

    .titulo-h2-s2-s3 {
        padding-bottom: 1rem;
        font-size: 1.8rem;
    }

    .component2-s2 {
        flex-direction: column;
        align-items: center;
    }

    .hidden1-s2 {
        height: 150px;
        width: 150px;
        margin-bottom: 2rem;
    }

    .hidden1-s2 h3 {
        font-size: 1rem;
        padding: 0rem 1rem 2rem;
        line-height: 1.3rem;
    }

        /*@@===== SESSÃO 3 =====@@*/

    .sessao-3 {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    .container1-s3 {
        padding-left: 0rem;
        max-width: 300px;
    }

    .component1-s3 {
        padding: 2rem 0;
    }

    .svg-formacao {
        margin-bottom: 1.1rem;
    }

    .titulo-h3 {
        font-size: 1rem;
    }

    .elemento1-div1-s3 {
        padding-top: 5px;
    }

    .svg-curso {
        margin-top: 0rem;
    }

    .container2-s3 {
        max-width: 300px;
        padding: 4rem 2rem;
    }

    .component2-s3 {
        padding: 1rem;
    }
    
    .svg-trabalho {
        margin-top: 0.1rem;
    }

    .titulo-trabalho {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .contato-email, .contato-tel {
        padding-top: 1rem;
        font-size: 15px;
    }
    
}